---
layout: default
title: itenium Blog
---

<div class="home">
  <h1 class="page-heading">Blog Posts</h1>

  {% assign posts_by_category = site.posts | group_by: "categories" %}

  {% for category_group in posts_by_category %}
    <h2>{{ category_group.name | capitalize }}</h2>
    <ul class="post-list">
      {% for post in category_group.items %}
        <li>
          <span class="post-meta">
            {{ post.date | date: "%b %-d, %Y" }}
            {% if post.last_modified_at %}
              &middot; upd {{ post.last_modified_at | date: "%b %-d, %Y" }}
            {% endif %}
          </span>
          {% if post.tags and post.tags.size > 0 %}
            <span class="post-tags">
              {% for tag in post.tags %}<span class="post-tag">{{ tag }}</span>{% endfor %}
            </span>
          {% endif %}
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h3>
          {% if post.desc %}
            <p>{{ post.desc }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}

</div>
