{%- assign page = include.page -%}
{%- if page.extras or page.interesting %}
<h1>Extras</h1>
{%- endif -%}

{%- if page.extras %}
<p><b>Stuff that came into being during the making of this post</b></p>
<ul>
    {%- for extra in page.extras %}
        <li>{% include post/link.html item=extra %}</li>
    {%- endfor %}
</ul>
{%- endif -%}

{%- if page.interesting %}
<p><b>Other interesting reads</b></p>
<ul>
    {%- for interest in page.interesting %}
        <li>{% include post/link.html item=interest %}</li>
    {%- endfor %}
</ul>
{%- endif -%}

{%- if page.updates -%}
<h1>Updates</h1>
<ul>
    {%- for update in page.updates -%}
        {%- assign updateDate = update.date | date: "%-d %B %Y" -%}
        <li>
            {{ updateDate }}
            {%- if update.desc -%}
                : {{ update.desc }}
            {%- endif -%}
        </li>
    {%- endfor -%}
</ul>
{%- endif -%}
