{%- assign page = include.page -%}
{%- if page.extras or page.interesting %}
<h1>Extras</h1>
{%- endif -%}

{%- if page.extras %}
<p><b>Stuff that came into being during the making of this post</b></p>
{%- assign extras = page.extras | first %}
<ul>
    {%- for extra in page.extras %}
        <li>
            {%- if extra.url %}
                <a href="{{ extra.url }}">
                    {%- if extra.desc -%}
                        {{- extra.desc -}}
                    {%- else -%}
                        {{- extra.url -}}
                    {%- endif -%}
                </a>

            {%- elsif extra.githubproject -%}
                <a href="{{ extra.githubproject }}">
                    {{- extra.githubtext | default: 'The accompanying source on GitHub' -}}
                </a>
            {%- endif -%}
        </li>
    {%- endfor %}
</ul>
{%- endif -%}

{%- if page.interesting %}
<p><b>Other interesting reads</b></p>
<ul>
    {%- for interest in page.interesting %}
        <li>
            {%- if interest.url -%}
                <a href="{{ interest.url }}">
                    {%- if interest.desc -%}
                        {{ interest.desc }}
                    {%- else -%}
                        {{ interest.url }}
                    {%- endif -%}
                </a>
            {%- elsif interest.git -%}
                {% include github-stars.html url=interest.git desc=interest.desc %}
            {%- endif -%}
        </li>
    {%- endfor %}
</ul>
{%- endif -%}

{%- if page.updates -%}
<h1>Updates</h1>
<ul>
    {%- for update in page.updates -%}
        {%- assign updateDate = update.date | date: "%-d %B %Y" -%}
        <li>
            {{ updateDate }}
            {%- if update.desc -%}
                : {{ update.desc }}
            {%- endif -%}
        </li>
    {%- endfor -%}
</ul>
{%- endif -%}
