// Custom styles for the blog

kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #FFF inset;
    white-space: nowrap;
}



figure.youtubemovie,
figure.imagewrapper {
    max-width: 560px;

    .iframewrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    figcaption {
        display: block;
        text-align: center;
        margin: 2px 0;
        font-style: italic;
        font-size: 14px;
        orphans: 2;
    }
}





table.table-base {
    margin-bottom: 15px;
    border-collapse: collapse;
    display: block;
    overflow: auto;

    th {
        font-weight: 600;
    }

    th, td {
        padding: 6px 13px;
        border: 1px solid #dfe2e5;
    }

    tr {
        background-color: #fff;
        border-top: 1px solid #c6cbd1;

        &:nth-child(even) {
            background-color: #f6f8fa;
        }
    }

    thead tr {
        background-color: #f6f8fa;
    }
}

table.table-code {
    @extend .table-base;
    width: 100%;

    th:first, table td:first {
        width: 50%;
    }

    td b {
        font-weight: 600;
    }
}

.no-wrap-first-column {
  td:first-child {
    white-space: nowrap;
  }
}


table.table-excel {
    width: 100%;
    margin-bottom: 15px;
    border-collapse: collapse;

    th, tr td:first-child {
        background-color: #EEE;
        color: #222;
        text-align: center;
        font-weight: normal;
        white-space: nowrap;
    }

    th, td {
        border: 1px solid #CCC;
        padding: 5px;
    }

    tbody tr:first-child {
        color: white;
        background-color: #089DE3;
    }
}


@mixin notice($notice-color) {
  margin: 1em 0;
  padding: 1em;
  font-size: 16px !important;
  text-indent: initial;
  background-color: mix(#fff, $notice-color, 90%);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba($notice-color, 0.25);

  h4 {
    margin-top: 0 !important;
    margin-bottom: 0.75em;
  }

  @at-root .page__content #{&} h4 {
    /* using at-root to override .page-content h4 font size*/
    margin-bottom: 0;
    font-size: 1em;
  }

  p {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  h4 + p {
    /* remove space above paragraphs that appear directly after notice headline*/
    margin-top: 0;
    padding-top: 0;
  }

  a {
    color: $notice-color;

    &:hover {
      color: mix(#000, $notice-color, 40%);
    }
  }

  code {
    background-color: mix(#fff, $notice-color, 95%);
  }

  ul {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.notice {
  @include notice(#7a8288);
}

.notice--info {
  @include notice(#f89406);
}

.notice--danger {
  @include notice(#ee5f5b);
}
